.repos {
	width:46%;
	float:right;
}

.about,
.services {
	width:50%;
	float:left;
	font-size:16px;}

.repos h3 {
	margin-bottom:20px;
}

.repo-item {
	background:#fff;
	padding:10px;
	box-shadow:1px 1px 1px #eaeaea;
	border:1px solid #eaeaea;
	margin-bottom:10px;
	font-size:16px;
}

@media (max-width: 40em) {
	.about,
	.repos {
		width:100%;
	}
}