.sidebar-item p b {
   color:#fff;
}

/**
* Loader
*/

@keyframes pulse {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

body {
  margin: 0;
}

.loader {
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ldr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto 50px;
  width: 2.5em;
  height: 2.5em;
}

.ldr-blk {
  height: 35%;
  width: 35%;
  animation: pulse 0.75s ease-in infinite alternate;
  background-color: #1db7a9;
}

.an_delay {
  animation-delay: 0.75s;
}

/**
* Clients on Home Page
*/

ul.clients {
   margin:0;
   padding:0;
}

ul.clients li {
   list-style:none;
   float:left;
   margin:1em 1.6em 1em 0em;
   height:70px;
   text-indent:-5000px;
   box-shadow:1px 1px 1px #ccc;
}

ul.clients li.goldmans-logo {
   background: url('assets/goldmans-logo.jpg') no-repeat;
   width:124px;
}

ul.clients li.orange-logo {
   background: url('assets/orange-logo.jpg') no-repeat;
   width:70px;
}

ul.clients li.tesco-logo {
   background: url('assets/tesco-logo.jpg') no-repeat;
   width:181px;
}

ul.clients li.timeout-logo {
   background: url('assets/timeout-logo.jpg') no-repeat;
   width:151px;
}

ul.clients li.wiley-logo {
   background: url('assets/wiley-logo.jpg') no-repeat;
   width:169px;
}

ul.clients li.covestor-logo {
   background: url('assets/covestor-logo.jpg') no-repeat;
   width:218px;
}

ul.clients li.shipserv-logo {
   background: url('assets/shipserv-logo.jpg') no-repeat;
   width:218px;
}

/**
* Skill Boxes on Home Page
*/

.skill-item {
   float:left;
   margin: 0 3.5em 2em 0;
   font-size:0.8em;
}

.skill-item h4 {
   font-size:20px;
   font-weight:bold;
}

.posts em b {
   font-weight:bold;
   margin-right:5px;
   margin-left:-5px;
   text-shadow:1px 1px 1px #666;
}

.skill-item ul{
   list-style:none;
   padding-left:0;
   font-size:16px;
}

.skill-item ul li {
   display:inline-block;
   float:left;
   clear:both;
}

.skill-item ul ul {
   padding-left:2em;
}

.skill-item ul li em {
   background: #1db7a9;
   display:inline-block;
   float:left;
   color:#fff;
   padding:0.2em 1em 0.2em;
   margin:0.2em;
   clear:both; 
   font-style:normal; 
   box-shadow:1px 1px 1px #ccc;
}

.skill-item ul ul li em {
   background: #d9ead3;
   color: #1db7a9;
}

.exclaimation {
   clear:both;
   font-size:14px;
}

/**
* Banner
*/

.contact-banner {
  background:#1db7a9;
  color:#d9ead3;
  text-align:center;
}

.contact-banner p {
  padding:20px;
}

.contact-banner p em {
    color:#fff;
    font-weight:bold;
    font-style:normal;
}
