/**
* Layout styles
*/

.portfolio_item {
	left: right;
    margin: 0 0 20px 0;
    padding:20px 20px 0 20px;
    box-shadow:1px 2px 2px #eaeaea;
    border:1px solid #eaeaea;
}

.portfolio_item h2 {
    font-size: 24px;
    margin: 20px 0 20px 0;
    text-align: right;
    padding-top: 250px;
    text-transform:uppercase;
    font-weight:bold;
}

.portfolio_item h2 a {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

.portfolio_item .role_wrapper {
    border-bottom: 1px dotted #ccc;
    position: relative;
    margin-bottom:20px;
}

.portfolio_item .role {
    float: left;
    color: #1db7a9;
    font-size: 30px;
    font-weight: bold;
    text-transform:uppercase;
    margin: 16px 10px 10px 10px;
    opacity:0.5;
}

.portfolio_item .role_title {
    float: right;
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    color: #1db7a9;
    line-height: 24px;
    text-align: right;
}

.portfolio_item span.role_skills {
    font-size: 18px;
    color: #a6a6a6;
}

/**
* Individual
*/

.goldmans {
	background:#fff url(assets/goldmans.jpg) top no-repeat;
}

.orange {
	background:#fff url(assets/orange.jpg) top no-repeat;
}

.tesco {
	background:#fff url(assets/tesco.png) top no-repeat;
}

.timeout {
	background:#fff url(assets/timeout.png) top no-repeat;
}

.wiley {
	background:#fff url(assets/wiley.png) top no-repeat;
}

.hellas {
	background:#fff url(assets/hellas.png) top no-repeat;
}

.shipserv {
	background:#fff url(assets/shipserv.png) top no-repeat;
}

.covestor {
	background:#fff url(assets/covestor.png) top no-repeat;
}

.pwul {
	background:#fff url(assets/pwul.jpg) top no-repeat;
}